@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: clip;
  }
  body.dark {
    --primary: 255 200 87;
    --foreground: 225 225 225;
    --background: 0 0 0;
    --background-card: 71 85 105;
    --background-mode: 30 30 47;
    --gradient-from: 14 165 233;
    --gradient-to: 99 102 241;
  }
  body.light {
    --primary: 59 130 246;
    --foreground: 0 0 0;
    --background: 255 255 255;
    --background-card: 229 231 235;
    --background-mode: 240 240 240;
    --gradient-from: 96 165 250;
    --gradient-to: 59 130 246;
  }
}
